/* Cart.css */

.cart-card {
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  transition: transform 0.3s ease-in-out;
  /* overflow: hidden; */
  margin: 30px 0;
}

/* .cart-card:hover { */
/* transform: scale(1.05); */
/* } */

 .card-img-top {
  border-radius: 10px 10px 0 0;
} 

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-text {
  font-size: 0.9rem;
  color: #555;
}

.text-primary {
  font-size: 1.1rem;
  font-weight: bold;
}

.shopping-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.shopping-icon button {
  border-radius: 50%;
  padding: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.shopping-icon button:hover {
  background-color: rgb(21, 91, 189); /* Slightly darker background on hover */
  color: white;
  transform: scale(1.3); /* Scale up the button on hover */
}

.shopping-icon button:active {
  background-color: #e2e6ea; /* Even darker background on active */
  transform: scale(0.95); /* Scale down the button on click */
}
