.sidebar {
  height: 100vh;
  width: 250px;
  /* position: fixed; */
  top: 0;
  left: 0;
  /* padding-top: 20px; */
  background-color: #181819;
}

.sidebar-link {
  color: #e4e5e8;
  font-size: 16px;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  /* font-weight: bold; */
  gap: 10px;
  padding: 10px 15px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.sidebar-link:hover {
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
}

.sidebar .navbar-brand img {
  display: block;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar-link {
    text-align: center;
    padding: 15px;
  }
  .sidebar .navbar-brand img {
    margin-bottom: 20px;
  }
}

.sidebar-link {
  color: #ddd;
  padding: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar-link:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  
  border-radius: 5px;
}

.sidebar-link.active {
  color: #fff;
  border-bottom: 2px solid white;
  border-radius: 5px;
}
