
.colorful-navbar {
  /* background: linear-gradient(90deg, #e52e71, #9b00ff); */
  background-color: #022121;
  color: white;
  padding: 0;
  margin: 0;
  border-bottom: 3px solid #f5da72;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.8rem;
  color: #ffffff;
}

.nav-link {
  font-size: 1.2rem;
  margin-right: 1.5rem;
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #ffea00;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5);
}

.navbar-toggler-icon {
  background-image: linear-gradient(45deg, #ff8a00, #e52e71);
}

.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}
.nav-color
{
  color: #f5da72;
}

.navbar-nav .nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid white; /* Example active effect */
  /* color: #ffcc00 !important; Customize active link color */
}

.cart-h
{
    position: relative;
}
.cart-badge {
    position: absolute;
    top: 1px;
    right: -7px;
}


.dropdown-toggle {
  background: none;
  border: none;
  padding: 0;
}

.dropdown-menu {
  min-width: 200px;
}

.dropdown-item {
  display: flex;
  align-items: center;
}

.dropdown-item img {
  border-radius: 50%;
}

.dropdown-item .font-semibold {
  font-weight: 600;
}

/* .text-white {
  color: white !important;
} */
