/* SearchBanner.css */

.search-banner {
  /* background-color: #319186; Soft Blue */
  color: black;
  margin-top: 70px;
  text-align: center;
  border-bottom: 2px solid black;
}
.banner-logo {
  width: 100%;
  max-width: 300px; /* Adjust the logo size as needed */
  margin-bottom: 20px;
  background-color: transparent;
  /* border: 2px solid; */
  /* border-radius: 50%; */
}

.banner-heading {
  font-size: 2.5rem;
  font-weight: bold;
  /* color: #ffffff; */
  margin-bottom: 20px;
}

.banner-paragraph {
  font-size: 1.2rem;
  /* color: #ffffff; */
  margin-bottom: 30px;
  line-height: 1.5;
}

.search-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.search-input {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  border-radius: 0;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  font-size: 1.2rem;
  box-shadow:0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  margin-bottom: 15px;
}

.search-button {
  background: #ffea00;
  color: #000;
  border-radius: 0;
  border: none;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  font-weight: bold;
  padding: 10px 30px;
  transition: background 0.3s ease-in-out;
}

.search-button:hover {
  background: #ffd700;
}
